<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="index,nofollow" />
    <meta name="description" content="LInternet a tú comodidad" />
    <meta name="keywords" content="megas internet tekax, wifi tekax, internet tekax, Megas Internet Tekax, megas internet tekax, megas internet" />
    <meta name="author" content="Megas Internet" />
    <meta name="copyright" content="Megas Internet" />
    <meta http-equiv="Cache-Control: max-age=31536000" />
    <meta http-equiv="expires: max-age=31536000" />
    <title>Megas Internet Tekax</title>
    <link rel="shortcut icon" href="/img/logo.png" />
    <link rel="stylesheet" href="css/estilos.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">  -->
</head>

<body>
    <div class="aviso-cookies" id="aviso-cookies">
        <img class="galleta" src="img/cookie.svg" alt="Galleta">
        <h3 class="titulo">Cookies</h3>
        <p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
        <button class="boton" id="btn-aceptar-cookies">De acuerdo</button>

    </div>
    <div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>
    <header id="inicio">
        <nav>
            <div class="menu-header">
                <img src="img/icono.png" />
            </div>
            <div class="enlaces-header" id="enlaces">
                <a href="#inicio">Inicio</a>
                <a href="#beneficios">Beneficios</a>
                <a href="#otros-servicios">Servicios extra</a>
                <a href="#cobertura">Cobertura</a>
                <a href="#paquetes">Paquetes</a>
                <a href="#acerca">Acerca de</a>
            </div>
        </nav>
        <div class="contenido-header">
            <div class="textos-header">
                <h1>Internet local a ¡tú alcance!</h1>
                <!-- <h2></h2> -->
            </div>
            <div class="img-header">
                <img src="img/logo.png" />
            </div>
        </div>
        <div class="wave-bottom">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
                <path d="M-3.68,28.90 C253.67,102.92 368.22,-62.87 500.84,36.80 L505.92,153.25 L0.00,150.00 Z"
                    style="stroke: none"></path>
            </svg>
        </div>
    </header>

    <main>
        <section class="acerca-de contenedor" id="beneficios">
            <h3>Nuestros beneficios</h3>
            <p>
                Ofrecemos a nuestros y futuros clientes distintos servicios, de los más importantes los siguientes:
            </p>
            <div class="contenedor-acerca-de">
                <div class="card-acerca">
                    <img src="img/fast.svg" class="img" />

                    <h4>Internet rápido</h4>
                    <p>
                        Internet de alta velocidad, para videoconferencias, youtube, video juegos.
                    </p>
                </div>
                <div class="card-acerca">
                    <img src="img/man.svg" class="img" />

                    <h4>Mantenimiento</h4>
                    <p>
                        Mantenimiento a el equipo en general, asi como la verificacion de alineacion, etc.
                    </p>
                </div>
                <div class="card-acerca">
                    <img src="img/support.svg" class="img" />

                    <h4>Soporte técnico</h4>
                    <p>Soporte técnico en caso de tener problemas con la red.</p>
                </div>
            </div>
        </section>

        <section class="servicio-cont" id="otros-servicios">
            <div class="servicio">
                <div class="img-servicio">
                    <img src="img/internet.svg" alt="" id="ilustracionSVG" />
                </div>
                <article class="contenido-servicio">
                    <h3>Otros servicios</h3>
                    <p>
                        Así como ofrecemos servicios de red de internet, tambien ofrecemos:
                    </p>
                    <ul>
                        <li>Cambio de compañía.</li>
                        <li>Cambio de equipos(antenas, modems, routers).</li>
                        <li>Personalización de paquetes.</li>
                        <li>Instalaciones de cámaras.</li>
                        <li>
                            Mantenimiento preventivo y correctivo a equipos(computadoras, telefonos moviles, impresoras)
                        </li>
                        <li>Ventas de equipos de computo</li>
                        <li>Ventas de impresoras</li>
                        <li>Accesorios de telefonía</li>
                    </ul>
                </article>
            </div>
        </section>

        <section class="precios" id="cobertura">
            <h3>Nuestra cobertura</h3>
            <p>¡Contamos con servicio en todas las comisarias de Tekax de Álvaro Obregón!</p>

            <div class="ubicacion">
                <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3" style="text-align: center;">
                    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                    <a href="https://1map.com/es/map-embed">1 Map</a>
                </div>
            </div>


        </section>

        <section class="precios" id="paquetes">
            <h3>Paquetes de internet</h3>
            <p>
                Contamos con paquetes definidos, además de paquetes personalizados
            </p>
            <div class="precios-tablas contenedor">
                <div class="tabla">
                    <h5>Básico</h5>

                    <p class="price"><span>$250</span> / por mes</p>
                    <img src="img/box.svg" class="img" />
                    <ul>
                        <li>5 mb</li>
                    </ul>
                </div>
                <div class="tabla">
                    <h5>Medio</h5>
                    <p class="price"><span>$375</span> / por mes</p>
                    <img src="img/box.svg" class="img" />
                    <ul>
                        <li>7 mb</li>
                    </ul>
                </div>
                <div class="tabla">
                    <h5>Premium</h5>
                    <p class="price"><span>$500</span> / por mes</p>
                    <img src="img/box.svg" class="img" />
                    <ul>
                        <li>10 mb</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer" id="acerca">
        <div class="border row">
            <div class="info col-md-6 col-xs-12">
                <h4>Información</h4>
                <ul>
                    <li>
                        <a><i class="fas fa-clock"></i> Horario:</a>
                    </li>
                    <li>
                        <a>De 08:00am a 01:00pm y 05:00pm a 08:00pm</a>
                    </li>
                    <br />
                    <li>
                        <a><i class="fas fa-phone"></i> Teléfono: </a>
                    </li>
                    <li>
                        <a>+52 997 129 6085 | +52 997 124 5723</a>
                    </li>
                    <br />
                    <li>
                        <a><i class="fas fa-envelope"></i> Correo:</a>
                    </li>
                    <li>
                        <a style="text-transform: lowercase !important">megas.internetekax@gmail.com</a>
                    </li>
                    <br />
                    <li>
                        <a>
                            Atención al cliente en dirección : Calle 40 X 59 Y 61 Col, Padre Eterno
                            <hr>
                        </a>

                    </li>
                    <br />

                </ul>
            </div>
            <div class="info col-md-6 col-xs-12">
                <h4>Nosotros</h4>
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-user"></i> Victor Manuel Can May</a>
                    </li>
                    <br />
                    <li>
                        <a href="#"><i class="fas fa-user"></i> Samuel Contreras Cab</a>
                    </li>
                </ul>
            </div>
            <div class="info col-md-12">
                <h4>Legal</h4>
                <ul>
                    <li>
                        <a href="src/cartaderechosminimosprofeco.pdf">
                            Carta de derechos minimos PROFECO
                        </a>
                    </li>
                    <li>
                        <a>
                            Número de autorización de IFT: IFT/223/UCS/AUT-COM-007/2021
                        </a>
                    </li>
                </ul><br>
            </div>

            <div class="info col-md-12 col-xs-12" style="text-align: center;">
                <ul>
                    <li>
                        <a>
                            Copyright © 2021 MegasInternet&nbsp;|&nbsp;Todos los derechos reservados&nbsp;|&nbsp;<a
                                href="src/Aviso de Privacidad.pdf">Nuestro Aviso de privacidad</a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>







    <script src="js/aviso-cookies.js"></script>
    <script>
        (function() {
            var setting = {
                "height": 557,
                // "width": 786,
                "zoom": 12,
                "queryString": "Tekax de Álvaro Obregón, Yuc., México",
                "place_id": "ChIJIzJL7ekaV48Rpkcf6dhcBr4",
                "satellite": false,
                "centerCoord": [20.20426772675333, -89.28590551964957],
                "cid": "0xbe065cd8e91f47a6",
                "lang": "es",
                "cityUrl": "/mexico/ticul-64724",
                "cityAnchorText": "Mapa de Ticul, Yucatán, México",
                "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                "embed_id": "545092"
            };
            var d = document;
            var s = d.createElement('script');
            s.src = 'https://1map.com/js/script-for-user.js?embed_id=545092';
            s.async = true;
            s.onload = function(e) {
                window.OneMap.initMap(setting)
            };
            var to = d.getElementsByTagName('script')[0];
            to.parentNode.insertBefore(s, to);
        })();
    </script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <!-- <script src="slider.js"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/menu.js"></script>
    <!--<script src="js/main.js"></script>-->
</body>

</html>
